html {
    font-size: 50%;
    background-color: "white";
    max-width: 100% !important;
    width: 100% !important;
    margin: 0;
}

p {
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
}

body {
    font-size: 1.5rem; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

#root {
    display: flex;
    flex-flow: column;
    height: 100%;
    margin: 0;
    padding: 2rem;
}

#banner {
    flex: 0 1 auto;
}

#logo {
    float: right;
    padding: 2rem 10rem 2rem 0rem;
}

#app-container {
    /*flex: 1 1 auto;*/
    display: flex;
    float: left;
}

#column1 {
    float: left;
    flex: 1;
    padding: 1rem 1rem 1rem 1rem;
}

#column2 {
    float: left;
    flex: 1;
    padding: 1rem 1rem 1rem 1rem;
}

#column3 {
    flex: 1;
    float: left;
    padding: 1rem 1rem 1rem 1rem;
}

#list-container {
    display: flex;
    float: left;
    width: 100%;
}

.list-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    float: left;
    width: 50%;
}
.song-art-container {
    flex: 1;
    text-align: right;
    height: 7rem;
}
.song-name-container {
    flex: 1;
    float: left;
}

/*

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    align-content: center;
*/
